.user {
  padding: 0;
}

.mat-list-avatar {
  margin-right: 15px;
}

span {
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  font-weight: 500;
}

.user-dot {
  content: "";
  position: absolute;
  left: 44px;
  top: 46px;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
}
