<mat-nav-list class="user">
  <mat-list-item [routerLink]="['/app/user', user.id]" *ngFor="let user of users"
                 [ngStyle]="{ 'display': user.id !== loggedUserId ? 'flex' : 'none' }">
    <img matListAvatar [src]="user.imagePath" alt="user-avatar">
    <span class="user-dot" [ngStyle]="{ backgroundColor: user.isOnline === true ? '#66BB6A' : '#D32F2F' }"></span>
    <p matLine>
      <span> {{ user.firstName }} </span>
      <span> {{ user.lastName }} </span>
    </p>
  </mat-list-item>
</mat-nav-list>
