.user {
  padding: 0;
}

.user-icons {
  display: flex;
}

.user-content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 150px);
}

.mat-button {
  flex: 1;
  height: 75px;
}

.active {
  background: #f5f5f5;
}
