<mat-nav-list class="user">
  <section class="user-icons">
    <button mat-button (click)="toggleValue(menuType.Friends)"
            [ngClass]="{ 'active': menuActive === 0 || menuActive === undefined}">
      <mat-icon color="accent">person</mat-icon>
    </button>
    <button
      mat-button (click)="toggleValue(menuType.Invites)"
      [ngClass]="{ 'active': menuActive === 1 }">
      <mat-icon color="accent">
        group_add
        <mat-icon
          *ngIf="numberOfInvites > 0"
          [matBadge]="numberOfInvites"
          matBadgePosition="after"
          matBadgeColor="primary">
        </mat-icon>
      </mat-icon>
    </button>
    <button mat-button (click)="toggleValue(menuType.Search)" [ngClass]="{ 'active': menuActive === 2 }">
      <mat-icon color="accent">search</mat-icon>
    </button>
  </section>

  <section class="user-content" [ngSwitch]="menuTypeValue">
    <app-users-friends *ngSwitchDefault></app-users-friends>
    <app-users-friends *ngSwitchCase="menuType.Friends"></app-users-friends>
    <app-users-invites *ngSwitchCase="menuType.Invites"></app-users-invites>
    <app-users-search *ngSwitchCase="menuType.Search"></app-users-search>
  </section>

</mat-nav-list>
