<section class="logging-container">
  <mat-card>

    <mat-icon color="primary">chat</mat-icon>
    <mat-card-title>Messenger</mat-card-title>
    <h2 class="logging-description">Get to know what's going on with your friends. Instantly, without interruptions, for
      free.</h2>

    <form class="form" novalidate [formGroup]="creatingForm">
      <mat-form-field appearance="outline">
        <mat-label>Type the first name</mat-label>
        <input matInput placeholder="First name" required formControlName="firstNameForm">
        <mat-error *ngIf="creatingForm.get('firstNameForm').invalid">{{getErrorFirstName()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Type the last name</mat-label>
        <input matInput placeholder="Last name" required formControlName="lastNameForm">
        <mat-error *ngIf="creatingForm.get('lastNameForm').invalid">{{getErrorLastName()}}</mat-error>
      </mat-form-field>

      <div class="buttons">
        <button mat-raised-button color="primary"
                (click)="login(creatingForm.get('firstNameForm').value, creatingForm.get('lastNameForm').value)"
                [disabled]="!(creatingForm.get('firstNameForm').value || creatingForm.get('lastNameForm').value)">
          Log In
        </button>
      </div>

    </form>

    <button mat-raised-button color="accent" (click)="onUserCreationMenuClick()">
      Sign Up
    </button>

  </mat-card>
</section>
