.text-input {
  flex: 1;
  padding: 0;
}

.text {
  height: 34.5px;
}

.input-button {
  position: absolute;
  right: 16px;
  line-height: 40px;
  width: 40px;
  height: 40px;
}

.mat-icon {
  font-size: 20px;
  line-height: 10px;
}
