.friends-starter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 75px 100px;
  text-align: center;
}

.starter-content {
  font-weight: 500;
  line-height: 1.75em;
}

.mat-icon {
  margin-top: 35px;
  font-size: 64px;
  height: 64px !important;
  width: 64px !important;
}

.user-dot {
  position: absolute;
  left: 44px;
  top: 46px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.user-text {
  font-weight: 500 !important;
  font-size: 17px !important;
}

.user-avatar {
  margin-right: 15px;
}

.friend-container {
  display: flex;
  align-items: center;
  height: 75px;
  width: 100%;
}
