.main-container {
  display: flex;
  height: calc(100vh - 75px);
  width: 100vw;
}

.users-container {
  flex: 0 1 475px;
  overflow: auto;
  border-right: 1px solid hsl(0, 0%, 92%);
}

.messages-container {
  width: 75vw;
}
