.search-container {
  width: 100%;
}

.search {
  height: 34.5px;
}

span {
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  font-weight: 500;
}

.user-dot {
  content: "";
  position: absolute;
  left: 44px;
  top: 46px;
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
