.search-container {
  flex: 1;
  padding: 17px 17px 0 17px;
  height: 75px;
  width: calc(100% - 34px) !important;
}

span {
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  font-weight: 500;
}

.user-dot {
  content: "";
  position: absolute;
  left: 44px;
  top: 46px;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
}
