.messages-container {
  padding: 20px 5%;
  overflow: scroll;
  height: calc(100vh - 275px)
}

.messages {
  padding: 8px 0;
}

.message {
  max-width: 300px;
  font-weight: 500;
}

.message-start {
  margin-left: auto;
  border-radius: 20px 10px 0 20px;
  background: #24c6e5;
  color: #fff;
}

.message-start::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: -10px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 0 10px;
  border-color: transparent transparent transparent #24c5e5;
}

.message-chat {
  border-radius: 0 20px 20px 10px;
  background: #ededed;
}

.message-chat::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  left: -10px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #ededed transparent transparent;
}

.message-date {
  margin: 50px 0;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: hsl(0, 0%, 45%);
}

.message-date-start {
  margin: 0 15px 5px 0;
  text-align: right;
  font-weight: 500;
  font-size: 14px;
  color: hsl(0, 0%, 45%);
}

.message-date-chat {
  margin: 0 0 5px 15px;
  font-weight: 500;
  font-size: 14px;
  color: hsl(0, 0%, 45%);
}

.message-content {
  overflow-wrap: break-word;
}
