<div class="messages-container" #msgContainer>

  <div class="messages" *ngFor="let message of messages; let first = first; let last = last; let i = index;">

    <p class="message-date"
       *ngIf="checkIfShouldShowSeparator(i)">{{ message.getYearDate() }}
    </p>

    <p [ngClass]="{'message-date-start': message.participantIds[0] === this.startingUserId,
                 'message-date-chat': message.participantIds[0] !== this.startingUserId}"
       *ngIf="first || messages[i-1].participantIds[0] !== messages[i].participantIds[0] ||
     messages[i-1].participantIds[1] !== messages[i].participantIds[1]">
      {{ message.getHourDate() }}
    </p>

    <mat-card
      class="message" [ngClass]="{
            'message-start': message.participantIds[0] === this.startingUserId,
            'message-chat': message.participantIds[0] !== this.startingUserId}"
      [ngStyle]="{textAlign: message.participantIds[0] === this.startingUserId ? 'right' : 'left'}">

      <p class="message-content">{{ message.value }}</p>

    </mat-card>

  </div>

</div>
