:host {
  overflow: auto;
}

.messages {
  padding: 8px 0;
}

.message {
  max-width: 300px;
  font-weight: 500;
}

.message-start {
  margin-left: auto;
  border-radius: 20px 10px 10px 20px;
  background: #24c6e5;
  color: #fff;
}

.message-chat {
  border-radius: 10px 20px 20px 10px;
  background: #f5f5f5;
}

.message-single {
  border-radius: 20px;
}

.message-date {
  margin: 50px 0;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: hsl(0, 0%, 45%);
}

.message-date-start {
  margin: 0 15px 5px 0;
  text-align: right;
  font-weight: 500;
  font-size: 14px;
  color: hsl(0, 0%, 45%);
}

.message-date-chat {
  margin: 0 0 5px 15px;
  font-weight: 500;
  font-size: 14px;
  color: hsl(0, 0%, 45%);
}

.message-content {
  overflow-wrap: break-word;
}
