span {
  margin-right: 25px;
}

.accept-button {
  margin-right: 15px;
}

.invites {
  position: relative;
  top: -75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.invites-content {
  margin: 30px 300px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.75em;
}

.mat-icon {
  font-size: 128px;
  height: 128px !important;
  width: 128px !important;
}
