/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
}

.mat-list-item, .mat-toolbar-row, .mat-toolbar-single-row {
  height: 75px !important;
}

.mat-list-item-content, .mat-form-field {
  width: 100% !important;
}

.mat-dialog-content {
  overflow: inherit !important;
}

.mat-badge {
  right: 15px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hsl(0, 0%, 75%);
  margin: 1em 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0 none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:active {
  background: hsl(0, 0%, 75%);
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0 none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 75%);
}

::-webkit-scrollbar-track:hover, ::-webkit-scrollbar-track:active, ::-webkit-scrollbar-corner {
  background: transparent;
}
